/* your styles go here */
.form-header-text{
	
	color:#696969;
	font-weight: 600;
	
}
.response-text{
	
	color:green;
	margin-right:20px;
	
}
.form-addstaff-button{
	margin-top:25px;
	margin-bottom:20px;
}
.modalclass{
	z-index:10000;
	position: absolute;
}
.actions{
	
	margin-left:10%;
	float:right;
	padding:30px;
}
.list-font{
	 font-size: small;
}
.group-header{
	
	color:#4c4c4c;
	background: #e9f9f9;
    padding: 15px;
    border-bottom: 1px solid #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	
}
.order-color{
	
	color:	#ff9933;
}

.checkout-color{
	color:#33cc33;
}
.select-class{
	
	margin-top:10px;
}

