/* your styles go here */
.form-header-text{
	
	color:#696969;
	font-weight: 600;
	font-size: 110%;
	
}
.response-text{
	
	color:green;
	margin-right:20px;
	
}
.form-addstaff-button{
	margin-top:25px;
	margin-bottom:20px;
}
.modalclass{
	z-index:10000;
	position: absolute;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.select-class{
	
	margin-top:10px;
}

.room_status_available{
	
	margin:2px;
	color: #1B5E20;
    background-color: #E8F5E9;
    border-color: #1B5E20;
	border: 5px solid transparent;
    border-radius: 4px;
	text-align:center;
	
}
.room_status_booked{
	
	margin:2px;
	color: #BF360C;
    background-color: #FBE9E7;
    border-color: #BF360C;
	border: 5px solid transparent;
    border-radius: 4px;
	text-align:center;
	
}
.room_booked_date{
	
	margin:2px;
	color: #0D47A1;
    background-color: #E3F2FD;
    border-color: #0D47A1;
	border: 5px solid transparent;
    border-radius: 4px;
	text-align:center;
	
}