<!-- Dashboard Counts Section-->
<link rel="stylesheet" href="assets/css/emenu.css" id="theme-stylesheet">
<div ng-controller="emenuController">

	<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom" style="float: left;">{{view.title}}</h2>
			  <button type="button" ng-click="refresh()" style="float: right;" class=="btn btn-link"><i class="fa fa-refresh"></i></button>
			  <div style="clear:both;"/>
			</div>
	</header>
	
	<div class="tables form-addstaff-button"> 
        <div class="container-fluid">
            <div class="row">
				<div class="col-lg-3">  
					<button type="button" class="btn btn-warning btn-md" data-target="#addemenu" aria-expanded="false" data-toggle="collapse"><i class="fa fa-plus"></i> Add Food Item</button>
				</div>
			</div>
		</div>
	</div>
  
   <div class="tables collapse" id="addemenu"> 
        <div class="container-fluid">
            <div class="row">
			   <div class="col-lg-12">                           
                  <div class="card">
					<div class="card-close">
                      <div class="dropdown">
						<small class="response-text">{{emenu_response}}</small>
						<button type="button" class="btn btn-success" ng-click="addeMenu(food_item)"><i class="fa fa-check"></i> Submit</button>
						<button type="button" data-toggle="collapse" data-target="#addemenu" class="btn btn-link btn-danger"><i class="fa fa-close"></i></button>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <label class="form-header-text">Please fill the details</label>
                    </div>
                    <div class="card-body" ng-click="clearResponse()">
	
						  <div class="col-md-2 " style="float:left">
							<!-- Your first column here -->
							<img data-toggle="modal" data-target="#filechooserModal" ng-src="{{food_item.img.length==0?'/assets/img/empty-album.png':food_item.img[0]}}" class="img-thumbnail food-item-img" alt="">
						  </div>
						  <div class="col-md-10" style="float:right">
							<!-- Your second column here -->
							<form class="form-inline">
								<div class="form-group col-lg-4">
								  <input id="inlineFormInput" type="text" placeholder="Item ID" class="mx-sm-6 form-control" ng-model="food_item.id">
								</div>
							   <div class="form-group col-lg-4">
								 
								  <input id="inlineFormInput" type="text" placeholder="Name" autocomplete="on" class="mx-sm-6 form-control" ng-model="food_item.name">
								</div>
								<div class="form-group col-lg-4">
							
									<select class="mx-sm-6 form-control select-class" id="foodtype" ng-model="food_item.type" ng-options="type for type in foodtypes" ng-init=" food_item.type = foodtypes[0]"  >
									</select>
								</div>
							</form>
							 <div style="min-height:7px"/>
							<form class="form-inline">
								<div class="form-group col-lg-4">
							
								  <input id="inlineFormInput" type="text" placeholder="Price" class="mx-sm-6 form-control" ng-model="food_item.price">
								</div>
							   <div class="form-group col-lg-4">
							
								  <input id="inlineFormInput" type="text" placeholder="Category 2" autocomplete="on" style="text-transform:uppercase" class="mx-sm-6 form-control" ng-model="food_item.category2">
								</div>
								<div class="form-group col-lg-4">
								  
									
									<select class="mx-sm-6 form-control select-class" id="foodtype" ng-model="food_item.category1" ng-options="category for category in foodcategory" ng-init=" food_item.category1 = foodcategory[0]"  >
									</select>
								</div>
							
							</form>
							 <div style="min-height:7px"/>
								<div class=" col-lg-12 form-group">
										<textarea class="form-control" placeholder="Description here..." ng-model="food_item.description" rows="2" id="description"></textarea>
								</div>
						  </div>
                    </div>
                  </div>
                </div>
			  
			</div>  
		</div>	  
	</div>
	
	<!-- File Chooser Modal-->
	<div class="card-body text-center modalclass">
	  <div id="filechooserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <label class="form-header-text">Select</label>
			  <button id="file_closebutton"type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
			  <form>
				<div class="form-group">       
				  <input type="text" placeholder="Image Urls" class="form-control" ng-model="imgurls">
				</div> 
			  </form>
				<div class="center"> <b>======== OR ========</b></div>
			   <form>
			   <div style="margin-top:20px"></div>
				<div class="form-group">
				  <input type="file" ng-file-model="files" multiple>
				</div> 
			  </form>
			  <div class="form-group"> 				
					<small class="response-text">{{selectfile_response}}</small>
			  </div>
			  <div class="progress" ng-if="progress_value>0">
					<div class="progress-bar-warning" role="progressbar" aria-valuenow="{{progress_value}}" aria-valuemin="0" aria-valuemax="100" style="width:100%">{{progress_value}}</div>
			  </div>
			  <div class="modal-footer">
				  <button type="button" class="btn btn-success" ng-click="selectImages()"><i class="fa fa-check">OK</i></button>
			  </div>
			</div>
			
		  </div>
		</div>
	  </div>
	</div>
   
	<div class="tables" ng-if="registeredEmenuItems.length">  
		<div class="container-fluid">
			<div class="row">
			
			 <div class="col-lg-12">
                  <div class="card">
				    <div class="card-header d-flex align-items-center">
                      <h3 class="form-header-text">Registered eMemu Items</h3>
                    </div>
                    <div class="card-body">
                       <div class="container-fluid" ng-repeat="(index,emenuitem) in registeredEmenuItems">
							
							<div class="project">
								<div class="row bg-white has-shadow">
									  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
										<div class="project-title d-flex align-items-center">
										  <div class="image has-shadow"><img ng-src="{{emenuitem.img.length==0?'/assets/img/empty-album':emenuitem.img[0]}}" class="row-img"></div>
										  <div class="item_details list-font">
											<div><strong>ID:</strong> {{emenuitem.id}} </div>
											<div><strong>Name:</strong> {{emenuitem.name}}</div>
											<div><strong>Category1:</strong> {{emenuitem.category1}}</div>
											
										  </div>
										</div>
										<div class="project-date">
											<div class="item_details list-font">
												<div><strong>Price:</strong> {{emenuitem.price}} </div>
												<div><strong>Type:</strong> {{emenuitem.type}}</div>
												<div><strong>Category2:</strong> {{emenuitem.category2}}</div>
											</div>
											
										</div>
									  </div>
									  <div class="right-col col-lg-6 d-flex align-items-center">
										<div class="right-project">
											<div class="item_details list-font">
												<div><strong>Description:</strong> {{emenuitem.description}}</div>
											</div>
											
										</div>
										<div style="width:10%;margin-left:10px">
											<button ng-click="editeMenu(index)" data-toggle="modal" data-target="#myemenuModal" type="button" class="btn-link"><i class="fa fa-pencil"></i></button>
										</div>
										<div style="width:10%;margin-left:5px">
											<button ng-click="deleteeMenu(index)" type="button" class="btn-link"><i class="fa fa-trash"></i></button>
										</div>
									  </div>
								</div>
							</div>
						</div>
					</div>
                </div>
				</div>
			
			</div>
		</div>
   </div>
   
   <!-- Modal-->
	<div class="card-body text-center modalclass">
	  <div id="myemenuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog" ng-click="modal_response = ''">
		  <div class="modal-content">
			<div class="modal-header">
			  <label class="form-header-text">Enter Details</label>
			  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
			  <form>
				<div class="form-group">       
				  <input type="text" placeholder="Room Id" class="form-control" ng-model="newfood.id">
				</div> 
				<div class="form-group"> 
				  <input type="text" placeholder="Name" class="form-control" ng-model="newfood.name" style="text-transform:uppercase">
				</div>
				<div class="form-group">       
					<select class="mx-sm-6 form-control select-class" id="foodtype" ng-model="newfood.type" ng-options="type for type in foodtypes" ng-init=" newfood.type = newfood.type"  >
					</select>
				</div>  
				<div class="form-group">       
				  <input type="text" placeholder="Price" class="form-control" ng-model="newfood.price">
				</div>
				<div class="form-group">       
				    <select class="mx-sm-6 form-control select-class" id="foodtype" ng-model="newfood.category1" ng-options="category for category in foodcategory" ng-init=" newfood.category1 = newfood.category1"  >
					</select>
				</div>  
				<div class="form-group"> 
				  <input type="text" placeholder="Name" class="form-control" ng-model="newfood.category2" style="text-transform:uppercase">
				</div>
				<div class="form-group"> 
					<textarea class="form-control" placeholder="Description here..." ng-model="newfood.description" rows="2" id="description"></textarea>
				</div>			
				<div class="form-group"> 				
					<small class="response-text">{{modal_response}}</small>
				</div>
				<div class="modal-footer">
				  <button type="button" data-dismiss="modal" class="btn btn-secondary"><i class="fa fa-close"> Close</i></button>
				  <button type="button" class="btn btn-success" ng-click="updateFood(newfood,newFoodIndex)"><i class="fa fa-check"> Save changes</i></button>
				</div>
			  </form>
			</div>
			
		  </div>
		</div>
	  </div>
	</div>
</div>