<!-- Dashboard Counts Section-->
<link rel="stylesheet" href="assets/css/home.css" id="theme-stylesheet">
<div ng-controller="homeController">
	<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom" style="float: left;">{{view.title}}</h2>
			  <button type="button" ng-click="refresh()" style="float: right;" class=="btn btn-link"><i class="fa fa-refresh"></i></button>
			  <div style="clear:both;"/>
			</div>
	</header>
	<div class="tables form-addstaff-button">  
		<div class="container-fluid">
			<div class="row">
			
			 <div class="col-lg-12">
                  <div class="card">
				    <div class="card-header d-flex align-items-center ">
						<h4 class="left-col col-lg-6 form-header-text">Guest Orders</h4>
						<div class="left-col col-lg-6">
						
							<div style="float:right;">
								<i ng-click="filter={}" style="font-size: 30px;" class="fa fa-window-close" aria-hidden="true"></i>
							</div>	
							<div style="float:right;">
								<input style="height:33px;width:200px;margin-right:5px;" type="text" placeholder="Search by room id" class="form-control" ng-model="filter.roomno">
							</div>
							
						</div>
                    </div>
					
                    <div class="card-body">
					  
						   <div class="container-fluid" ng-repeat="(key,orders) in allOrderList | map: toDay | groupBy: 'temp_date'">
								<div class="row group-header">
									<div class="left-col col-4"><b>Requested Date:</b> {{key}} </div> 
									<div class="right-col col-8" style="text-align:right;">
										<b>Order(s):</b> {{orders.length}}
									</div>
								</div>
								
									<div ng-repeat="(index,order) in orders | filter: { roomno: filter.roomno } | orderBy: '-creation_date'">

											<div class="project">
											<!-- 	<accordion-heading> -->
													<div class="row bg-white has-shadow">
													
														
														<div class="left-col col-sm-4">
															<div class="project-title">
															  <div class="item_details list-font" style="padding-left:15px;">
																<div><strong>Room No:</strong> {{order.roomno}} </div>
																<div><strong>Order type:</strong> {{order.type}}</div>
																<div ng-if="order.type=='ROOM_SERVICE'"><strong>Message:</strong> {{order.details[0]}}</div>
															  </div>
															</div>
														</div>
														<div class="left-col col-sm-4">
															<div class="project-date">
																<div class="item_details list-font">
																	<div ng-if="order.creation_date"><strong>Requested Date:</strong> {{order.creation_date |  date:'MMM d, y h:mm:ss a'}} </div>
																	<div ng-if="order.acknowledged_date"><strong>Responded Date:</strong> {{order.acknowledged_date |  date:'MMM d, y h:mm:ss a'}}</div>
																	<div ng-if="order.cancel_date"><strong>Cancelled Date:</strong> {{order.cancel_date |  date:'MMM d, y h:mm:ss a'}}</div>
																	<div ng-if="order.cust_ack_date"><strong>Completed Date:</strong> {{order.cust_ack_date |  date:'MMM d, y h:mm:ss a'}}</div>
																	
																</div>
																
															</div>
														</div>
														
														<div class="col-sm-3">
														
															<div style="float:right;">
																<button  ng-click="ackOrder(order)" ng-if="!order.acknowledged_date && !order.cancel_date && user.role == order.intended_user" type="button" class="btn btn-success btn-sm" ><i class="fa fa-check"></i>Acknowledge</button>
																<div style="height:5px;"/>
																<button ng-click="cancelOrder(order)" ng-if="!order.acknowledged_date && !order.cancel_date && user.role == order.intended_user" type="button" class="btn btn-danger btn-sm"><i class="fa fa-close"></i>Cancel</button>	
															</div>
														</div>
											
														<div ng-if="order.type!='ROOM_SERVICE'" class="col-lg-1" style="padding-top:10px;" ng-click="setShowOrder(order)">
															<i style="float:right;" class="fa fa-caret-down fa-lg" ></i>
														</div>
														<div ng-if="order.type =='FOOD_ORDER'&& showOrder==order._id" class="col-sm-12">
															<hr>
															 <table class="table table-striped table-bordered">
																  <tr ng-repeat="detail in order.details">
																	<td><strong>Type: </strong>{{detail.food_item.type }}</td>
																	<td><strong>Name: </strong>{{detail.food_item.name }}</td>
																	<td><strong>Quantity: </strong>{{detail.quantity }}</td>
																	<td><strong>Price: </strong>Rs {{detail.price }}/-</td>
																  </tr>
															 </table>
														</div>
													</div>
													
													
													
											</div>
								</div>
						</div>
						
					</div>
                </div>
				</div>
			
			</div>
		</div>
   </div>
   
</div>