<!-- Dashboard Counts Section-->
<link rel="stylesheet" href="assets/css/pplaces.css" id="theme-stylesheet">
<div ng-controller="pplacesController">

	<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom" style="float: left;">{{view.title}}</h2>
			  <button type="button" ng-click="refresh()" style="float: right;" class=="btn btn-link"><i class="fa fa-refresh"></i></button>
			  <div style="clear:both;"/>
			</div>
	</header>
	
	<div class="tables form-addstaff-button"> 
        <div class="container-fluid">
            <div class="row">
				<div class="col-lg-3">  
					<button type="button" class="btn btn-warning btn-md" data-target="#addplace" aria-expanded="false" data-toggle="collapse"><i class="fa fa-plus"></i> Add Place</button>
				</div>
			</div>
		</div>
	</div>
  
   <div class="tables collapse" id="addplace"> 
        <div class="container-fluid">
            <div class="row">
			   <div class="col-lg-12">                           
                  <div class="card">
					<div class="card-close">
                      <div class="dropdown">
						<small class="response-text">{{place_response}}</small>
						<button type="button" class="btn btn-success" ng-click="addPlace(place)"><i class="fa fa-check"></i> Submit</button>
						<button type="button" data-toggle="collapse" data-target="#addplace" class="btn btn-link btn-danger"><i class="fa fa-close"></i></button>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <label class="form-header-text">Please fill the details</label>
                    </div>
                    <div class="card-body" ng-click="clearResponse()">
	
						  <div class="col-md-2 " style="float:left">
							<!-- Your first column here -->
							<img data-toggle="modal" data-target="#filechooserModal" ng-src="{{place.img.length==0?'/assets/img/empty-album.png':place.img[0]}}" class="img-thumbnail place-img" alt="">
						  </div>
						  <div class="col-md-10" style="float:right">
							<!-- Your second column here -->
							<form class="form-inline">
								<div class="form-group col-lg-4">
								  <input id="inlineFormInput" type="text" placeholder="Place ID" class="mx-sm-6 form-control" ng-model="place.id">
								</div>
							   <div class="form-group col-lg-4">
								  <input id="inlineFormInput" type="text" placeholder="Name" autocomplete="on" class="mx-sm-6 form-control" ng-model="place.name">
								</div>
								<div class="form-group col-lg-4">
									<select class="mx-sm-6 form-control select-class" id="type" ng-model="place.type" ng-options="type for type in placetypes" ng-init=" place.type = placetypes[0]"  >
									</select>
								</div>
							</form>
							 <div style="min-height:5px"/>
							 <div class=" col-lg-12 form-group">
										<textarea class="form-control" placeholder="Description here..." ng-model="place.description" rows="2" id="description"></textarea>
							 </div>
							 <div class=" col-lg-12 form-group">
										<input class="form-control" placeholder="Address here..." ng-model="place.address" details="chosenPlaceDetails" rows="1" googleplace></input>
							 </div>
							<form class="form-inline">
								<div class="form-group col-lg-4">
								  <input id="inlineFormInput" type="text" placeholder="Latitude" class="mx-sm-6 form-control" ng-model="place.latitude" ng-value="chosenPlaceDetails.geometry.location.lat">
								</div>
							   <div class="form-group col-lg-4">
								  <input id="inlineFormInput" type="text" placeholder="Longitude" class="mx-sm-6 form-control" ng-model="place.longitude" ng-value="chosenPlaceDetails.geometry.location.lng">
								</div>
											
							</form>
							 
						  </div>
                    </div>
                  </div>
                </div>
			  
			</div>  
		</div>	  
	</div>
	
	<!-- File Chooser Modal-->
	<div class="card-body text-center modalclass">
	  <div id="filechooserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <label class="form-header-text">Select</label>
			  <button id="file_closebutton"type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
			  <form>
				<div class="form-group">       
				  <input type="text" placeholder="Image Urls" class="form-control" ng-model="imgurls">
				</div> 
			  </form>
				<div class="center"> <b>======== OR ========</b></div>
			   <form>
			   <div style="margin-top:20px"></div>
				<div class="form-group">
				  <input type="file" ng-file-model="files" multiple>
				</div> 
			  </form>
			  <div class="form-group"> 				
					<small class="response-text">{{selectfile_response}}</small>
			  </div>
			  <div class="progress" ng-if="progress_value>0">
					<div class="progress-bar-warning" role="progressbar" aria-valuenow="{{progress_value}}" aria-valuemin="0" aria-valuemax="100" style="width:100%">{{progress_value}}</div>
			  </div>
			  <div class="modal-footer">
				  <button type="button" class="btn btn-success" ng-click="selectImages()"><i class="fa fa-check">OK</i></button>
			  </div>
			</div>
			
		  </div>
		</div>
	  </div>
	</div>
   
	<div class="tables" ng-if="registeredPlaces.length">  
		<div class="container-fluid">
			<div class="row">
			
			 <div class="col-lg-12">
                  <div class="card">
				    <div class="card-header d-flex align-items-center">
                      <h3 class="form-header-text">Registered Places</h3>
                    </div>
                    <div class="card-body">
                       <div class="container-fluid" ng-repeat="(index,placeitem) in registeredPlaces">
							
							<div class="project">
								<div class="row bg-white has-shadow">
									  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
										<div class="project-title d-flex align-items-center">
										  <div class="image has-shadow"><img ng-src="{{placeitem.img.length==0?'/assets/img/empty-album':placeitem.img[0]}}" class="row-img"></div>
										  <div class="item_details list-font">
											<div><strong>ID:</strong> {{placeitem.id}} </div>
											<div><strong>Name:</strong> {{placeitem.name}}</div>
											<div><strong>Address:</strong> {{placeitem.address}}</div>
											
										  </div>
										</div>
										<div class="project-date col-lg-5">
											<div class="item_details list-font">
												<div><strong>Type:</strong> {{placeitem.type}}</div>
												<div><strong>latitude:</strong> {{placeitem.latitude}}</div>
												<div><strong>Longitude:</strong> {{placeitem.longitude}}</div>
											</div>
											
										</div>
									  </div>
									  <div class="right-col col-lg-6 d-flex align-items-center">
										<div class="right-project">
											<div class="item_details list-font">
												<div><strong>Description:</strong> {{placeitem.description}}</div>
											</div>
											
										</div>
										<div style="width:10%;margin-left:10px">
											<button ng-click="editPlace(index)" data-toggle="modal" data-target="#myplaceModal" type="button" class="btn-link"><i class="fa fa-pencil"></i></button>
										</div>
										<div style="width:10%;margin-left:5px">
											<button ng-click="deletePlace(index)" type="button" class="btn-link"><i class="fa fa-trash"></i></button>
										</div>
									  </div>
								</div>
							</div>
						</div>
					</div>
                </div>
				</div>
			
			</div>
		</div>
   </div>
   
   <!-- Modal-->
	<div class="card-body text-center modalclass">
	  <div id="myplaceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog" ng-click="modal_response = ''">
		  <div class="modal-content">
			<div class="modal-header">
			  <label class="form-header-text">Enter Details</label>
			  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
			  <form>
				<div class="form-group">       
				  <input type="text" placeholder="Place ID" class="form-control" ng-model="newplace.id">
				</div> 
				<div class="form-group"> 
				  <input type="text" placeholder="Name" class="form-control" ng-model="newplace.name">
				</div>
				<div class="form-group">       
					<select class="mx-sm-6 form-control select-class" id="placetype" ng-model="newplace.type" ng-options="type for type in placetypes" ng-init=" newplace.type = newplace.type">
					</select>
				</div>  
				<div class="form-group">       
				  <input googleplace class="form-control" placeholder="Address here..." ng-model="newplace.address" details="newchosenPlaceDetails" rows="1"></input>
				</div>
				<div class="form-group">       
				   <input type="text" placeholder="Latitude" class="form-control" ng-model="newplace.latitude">
				</div>  
				<div class="form-group"> 
				  <input type="text" placeholder="Longitude" class="form-control" ng-model="newplace.longitude">
				</div>
				<div class="form-group"> 
					<textarea class="form-control" placeholder="Description here..." ng-model="newplace.description" rows="2" id="description"></textarea>
				</div>			
				<div class="form-group"> 				
					<small class="response-text">{{modal_response}}</small>
				</div>
				<div class="modal-footer">
				  <button type="button" data-dismiss="modal" class="btn btn-secondary"><i class="fa fa-close"> Close</i></button>
				  <button type="button" class="btn btn-success" ng-click="updatePlace(newplace,newPlaceIndex)"><i class="fa fa-check"> Save changes</i></button>
				</div>
			  </form>
			</div>
			
		  </div>
		</div>
	  </div>
	</div>
</div>