<!-- Dashboard Counts Section-->
<link rel="stylesheet" href="assets/css/roomsummary.css" id="theme-stylesheet">
<div ng-controller="roomsummaryController">

	<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom" style="float: left;">{{view.title}}</h2>
			  <button type="button" ng-click="refresh()" style="float: right;" class=="btn btn-link"><i class="fa fa-refresh"></i></button>
			  <div style="clear:both;"/>
			</div>
	</header>
	<div class="tables form-addstaff-button"> 
        <div class="container-fluid">
            <div class="row">
				<div class="col-lg-12">                           
                  <div class="card">
					<div class="card-close">
                      <div class="dropdown">
					    <small class="response-text">{{availability_response}}</small>
						<button type="button" class="btn btn-success" ng-click="checkAvailibility(checkfields)"><i class="fa fa-check"></i> Check</button>
						<button type="button" ng-click="clear()" class="btn btn-link btn-danger"><i class="fa fa-close"></i> Clear</button>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <label class="form-header-text">Check Availibility</label>
                    </div>
                    <div class="card-body" ng-click="clearResponse()">
                      
					  <form class="form-inline">
						   <div class="form-group col-lg-4">
							
							 <select class="col-lg-5 form-control select-class" id="placetype" ng-model="checkfields.roomclass" ng-options="item.class as item.class for item in availablerooms | unique:'class'">
								<option value="" disabled>Class</option>
							 </select>
							  <select style="margin-left:5px;"class="col-lg-4 form-control select-class" id="placetype" ng-model="checkfields.roomtype" ng-options="item.type as item.type for item in availablerooms | unique:'type' ">
								<option value="" disabled>Type</option>
							  </select>
							
							</div>
							<div class="form-group col-lg-4">
								<datepicker date-format="MMM d, y">
									  <input class="mx-sm-6 form-control" ng-model="checkfields.checkin" placeholder="&#61447; Checkin date" type="text"/>
								</datepicker>
							</div>
							<div class="form-group col-lg-4">
								<datepicker date-format="MMM d, y">
									  <input class="mx-sm-6 form-control" ng-model="checkfields.checkout" placeholder="&#61447; Checkout date" type="text"/>
								</datepicker>
							</div>
						</form>
						<div style="min-height:5px"/>
                    </div>
                  </div>
                </div>
			</div>
		</div>
	</div>

	<div class="tables" ng-if="availablerooms.length">  
		<div class="container-fluid">
			<div class="row">
			
			 <div class="col-lg-12">
                  <div class="card">
				    <div class="card-header d-flex align-items-center">
                      <h3 class=" left-col col-lg-6 form-header-text">Room Status</h3>
						<div class="right-col col-lg-6" >
							<div style="float:right;">
								<div style="float:left;">
									<input style="height:33px;" type="text" placeholder="Search by room id" class="form-control" ng-model="filter.roomno">
								</div>
								<div style="float:left;margin-left:5px;">
									<i ng-click="filter={}" style="font-size: 30px;" class="fa fa-window-close" aria-hidden="true"></i>
								</div>
							</div>
						</div>
                    </div>
                    <div class="card-body">
                      <table class="table">
                        <thead >
                          <tr>
                            <th>#</th>
							<th style="text-align:center;" >Room No</th>
							<th style="text-align:center;" >Room Type</th>
							<th style="text-align:center;" >Room Class</th>
                            <th style="text-align:center;" >Status</th>
							<th style="text-align:center;" >Booked Till</th>
                           
                          </tr>
                        </thead>
                        <tbody style="text-align:center;">
                          <tr ng-repeat="(index,room) in availablerooms | filter: { id: filter.roomno }">
                            <th scope="row">{{index + 1}}</th>
							<td>{{room.id}}</td>
                            <td>{{room.type}}</td>
							<td>{{room.class}}</td>
                            <td><div ng-init="statusVal = getStatus(room)" ng-class="statusVal?'room_status_booked':'room_status_available'">{{ statusVal?'Booked':'Available'}}</div></td>
							<td><div ng-init="bookedDate = getBookedDate(room)" class="room_booked_date">{{ bookedDate | date:'MMMM d, y' }}</div></td>
						   </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
			
			</div>
		</div>
   </div>
</div>