<!-- Dashboard Counts Section-->
<link rel="stylesheet" href="assets/css/roombooking.css" id="theme-stylesheet">
<div ng-controller="roombookingController">

	<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom" style="float: left;">{{view.title}}</h2>
			  <button type="button" ng-click="refresh()" style="float: right;" class=="btn btn-link"><i class="fa fa-refresh"></i></button>
			  <div style="clear:both;"/>
			</div>
	</header>
	<div class="tables form-addstaff-button"> 
        <div class="container-fluid">
            <div class="row">
				<div class="col-lg-3">  
					<button type="button" class="btn btn-warning btn-md" data-target="#registerGuest" aria-expanded="false" data-toggle="collapse"><i class="fa fa-plus"></i> Register/Book</button>
				</div>
			</div>
		</div>
	</div>
  <div class="tables collapse" id="registerGuest"> 
        <div class="container-fluid">
            <div class="row">
			   <div class="col-lg-12">                           
                  <div class="card">
					<div class="card-close">
                      <div class="dropdown">
						<small class="response-text">{{registerguest_response}}</small>
						<button type="button" class="btn btn-success" ng-click="registerGuest(guest)"><i class="fa fa-check"></i> Submit</button>
						<button type="button" ng-click="clear()" data-toggle="collapse" data-target="#registerGuest" class="btn btn-link btn-danger"><i class="fa fa-close"></i></button>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <label class="form-header-text">Please fill the details</label>
                    </div>
                    <div class="card-body" ng-click="clearResponse()">
                      <form class="form-inline">
                        <div class="form-group col-lg-4">
                         <select style="margin-left:5px;"class="form-control select-class" id="placetype" ng-model="guest.roomno" ng-options="item.id as item.id for item in availablerooms | filter:checkAvalibility(guest.roomtype,guest.roomclass,guest.checkin,guest.checkout)">
								<option value="" disabled>Room ID</option>
						 </select>
                        </div>
					  </form>
					   <div style="min-height:5px"/>
					  <form class="form-inline">
						   <div class="form-group col-lg-4">
							  <input id="inlineFormInput" type="text" placeholder="Guest Name" class="mx-sm-6 form-control" ng-model="guest.name">
							</div>
							<div class="form-group col-lg-4">
								<input id="inlineFormInput" type="text" placeholder="Email" class="mx-sm-6 form-control" ng-model="guest.email">
							</div>
							<div class="form-group col-lg-4">
							  <input id="inlineFormInputGroup" type="number" placeholder="Contact" class="mx-sm-6 form-control form-control" ng-model="guest.contact">
							</div>
					  </form>
					   <div style="min-height:5px"/>
						<div class=" col-lg-12 form-group">
								<textarea class="form-control" placeholder="Address here..." ng-model="guest.address" rows="2" id="address"></textarea>
						</div>
						<form class="form-inline">
						   <div class="form-group col-lg-4">
							  <input id="inlineFormInput" type="number" placeholder="No of adults" class="mx-sm-6 form-control" ng-model="guest.adults">
							</div>
							<div class="form-group col-lg-4">
								<input id="inlineFormInput" type="number" placeholder="No of childrens" class="mx-sm-6 form-control" ng-model="guest.childrens">
							</div>
							<div class="form-group col-lg-4">
							  <input id="inlineFormInputGroup" type="number" placeholder="No of nights" class="mx-sm-6 form-control form-control" ng-model="guest.nights">
							</div>
						</form>
						<div style="min-height:5px"/>
						<form class="form-inline">
						   <div class="form-group col-lg-4">
							
							 <select class="col-lg-5 form-control select-class" id="placetype" ng-model="guest.roomclass" ng-options="item.class as item.class for item in availablerooms | unique:'class' | filter:checkAvalibility(guest.roomtype,guest.roomclass,guest.checkin,guest.checkout)">
								<option value="" disabled>Class</option>
							 </select>
							  <select style="margin-left:5px;"class="col-lg-4 form-control select-class" id="placetype" ng-model="guest.roomtype" ng-options="item.type as item.type for item in availablerooms | unique:'type' | filter:checkAvalibility(guest.roomtype,guest.roomclass,guest.checkin,guest.checkout)">
								<option value="" disabled>Type</option>
							  </select>
							
							</div>
							<div class="form-group col-lg-4">
								<datepicker date-format="MMM d, y">
									  <input class="mx-sm-6 form-control" ng-model="guest.checkin" placeholder=" Checkin date" type="text"/>
								</datepicker>
							</div>
							<div class="form-group col-lg-4">
								<datepicker date-format="MMM d, y">
									  <input class="mx-sm-6 form-control" ng-model="guest.checkout" placeholder=" Checkout date" type="text"/>
								</datepicker>
							</div>
						</form>
                    </div>
                  </div>
                </div>
			  
			</div>  
		</div>	  
	</div>
	
  <div class="tables" ng-if="registeredGuests.length">  
		<div class="container-fluid">
			<div class="row">
			
			 <div class="col-lg-12">
                  <div class="card">
				    <div class="card-header d-flex align-items-center ">
						<h4 class="left-col col-lg-6 form-header-text">Guest Registration Lists</h4>
						<div class="right-col col-lg-6">
						
							<div style="float:left;">
								<input style="height:33px;width:200px;" type="text" placeholder="Search by room id" class="form-control" ng-model="filter.roomno">
							</div>
							<div style="float:left;">
								<datepicker date-format="MMM d, y">
									  <input ng-change="setRegistrationDate()" style="height:33px;width:230px;" class="form-control" ng-model="filter.registration_date" placeholder=" Search by reg date" type="text"/>
								</datepicker>
								
							</div>
							<div style="float:right;">
								<i ng-click="filter={}" style="font-size: 30px;" class="fa fa-window-close" aria-hidden="true"></i>
							</div>	
						</div>
                    </div>
					
					
                    <div class="card-body">
					
                       <div class="container-fluid" ng-repeat="(key,guestlist) in registeredGuests  | groupBy: 'registration'">
							<div class="row group-header">
								<div class="left-col col-sm-4"><b>Registration Date:</b> {{key}} </div> 
								<div class="right-col col-sm-8" style="text-align:right;">
									<b>Booking(s):</b> {{guestlist.length}}
								</div>
							</div>
							<div ng-repeat="(index,guest) in guestlist | filter: { roomno: filter.roomno } | filter:{ registration: filter.registration_date}">
								<div class="project">
									<div class="row bg-white has-shadow">
										  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
											<div class="project-title d-flex align-items-center">
											  <div class="item_details list-font">
												<div><strong>Room No:</strong> {{guest.roomno}} </div>
												<div><strong>Booked by:</strong> {{guest.name}}</div>
												<div><strong>Email:</strong> {{guest.email}}</div>
												<div><strong>Contact:</strong> {{guest.contact}}</div>
											  </div>
											</div>
											<div class="project-date">
												<div class="item_details list-font">
													<div><strong>No of Adults:</strong> {{guest.adults}} </div>
													<div><strong>No of Childrens:</strong> {{guest.childrens}}</div>
													<div><strong>No of Nights:</strong> {{guest.nights}}</div>
												</div>
												
											</div>
										  </div>
										  <div class="right-col col-lg-6 d-flex align-items-center">
										  
											<div class="project-title d-flex align-items-center">
												<div class="item_details list-font">
													<div><strong>Check in :</strong> {{guest.checkin | date:'MMMM d, y'}}</div>
													<div><strong>Check out :</strong> {{guest.checkout | date:'MMMM d, y'}}</div>
													<div><strong>Address:</strong> {{guest.address}}</div>
												</div>
											</div>
											<div class="row">
										
													<div class="col-lg-8" style="margin-left:15px;">
														<button ng-click="viewRoomOrders(guest.roomno,guest.checkin,guest.checkout)" data-toggle="modal" data-target="#myroomOrderModal" type="button" class="btn-link"><i class="fa fa-shopping-cart order-color"></i><small class="order-color"> View orders</small></button>
														<button ng-click="viewRoomBill(guest.roomno,guest.checkin,guest.checkout)" data-toggle="modal" data-target="#myroomBillModal" type="button" class="btn-link"><i class="fa fa-credit-card checkout-color"></i><small class="checkout-color"> View bill</small></button>
													</div>
													 <button ng-click="editguestRegistration(guest)" data-toggle="modal" data-target="#myguestModal" type="button" class="btn-link"><i class="fa fa-pencil"></i></button>
													 <button ng-click="deleteRegistration(guest)" type="button" class="btn-link"><i class="fa fa-trash"></i></button>
													
											
											</div>
											
										  </div>
									</div>
								</div>
						</div>
						</div>
					</div>
                </div>
				</div>
			
			</div>
		</div>
   </div>
   
   	<!-- Modal-->
	<div class="card-body text-center modalclass">
	  <div id="myguestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <label class="form-header-text">Enter Details</label>
			  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
			  <form ng-click="modal_response=''">
			  
				<div class="form-group">       
					<select class="form-control select-class" id="placetype" ng-model="newguest.roomno" ng-options="item.id as item.id for item in availablerooms">
						<option value="" disabled>Room ID</option>
					</select>
				</div>
				<div class="form-group">       
					<input id="inlineFormInput" type="text" placeholder="Guest Name" class="mx-sm-6 form-control" ng-model="newguest.name">		  
				</div>
				<div class= "row">
					 <div class="form-group col-sm-6">
						<input id="inlineFormInput" type="text" placeholder="Email" class="mx-sm-6 form-control" ng-model="newguest.email">
					 </div>
					  <div class="form-group col-sm-6">
						<input id="inlineFormInputGroup" type="number" placeholder="Contact" class="mx-sm-6 form-control form-control" ng-model="newguest.contact">
					 </div>
				</div>
				<div class="form-group">       
					<textarea class="form-control" placeholder="Address here..." ng-model="newguest.address" rows="2" id="address"></textarea>
				</div> 
				<div class="row">
					 <div class="form-group col-sm-4">
						<input id="inlineFormInput" type="number" placeholder="No of adults" class="mx-sm-6 form-control" ng-model="newguest.adults">
					 </div>
					 <div class="form-group col-sm-4">
						<input id="inlineFormInput" type="number" placeholder="No of childrens" class="mx-sm-6 form-control" ng-model="newguest.childrens">					
					 </div>
					 <div class="form-group col-sm-4">
						<input id="inlineFormInputGroup" type="number" placeholder="No of nights" class="mx-sm-6 form-control form-control" ng-model="newguest.nights">
					 </div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<select class="mx-sm-6  form-control select-class" id="placetype" ng-init="newguest.roomclass = newguest.roomclass" ng-model="newguest.roomclass" ng-options="item.class as item.class for item in availablerooms | unique:'class' ">
						<option value="" disabled>Class</option>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<select class="mx-sm-6  form-control " id="placetype" ng-init="newguest.roomtype = newguest.roomtype" ng-model="newguest.roomtype" ng-options="item.type as item.type for item in availablerooms | unique:'type'">
						<option value="" disabled>Type</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<datepicker date-format="MMM d, y">
							<input class="mx-sm-6 form-control" ng-model="newguest.checkin" placeholder=" Checkin date" type="text"/>
						</datepicker>
					</div>
					<div class="form-group col-sm-6">
						<datepicker date-format="MMM d, y">
							<input class="mx-sm-6 form-control" ng-model="newguest.checkout" placeholder=" Checkout date" type="text"/>
						</datepicker>
					</div>
				</div>
				<div class="form-group"> 				
					<small class="response-text">{{modal_response}}</small>
				</div>
			  </form>
			  <div class="modal-footer">
				  <button type="button" data-dismiss="modal" class="btn btn-secondary"><i class="fa fa-close"> Close</i></button>
				  <button type="button" class="btn btn-success" ng-click="updateRegistration(newguest,newGuestIndex)"><i class="fa fa-check"> Save changes</i></button>
			  
			  </div>
			</div>
			
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Room Order Modal-->
	<div class="card-body text-center modalclass">
	  <div id="myroomOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleroomModalLabel" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog" style="max-width:60%">
		  <div class="modal-content">
			<div class="modal-header">
			  <label class="form-header-text">Order Details</label>
			  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
			
				<div class="container-fluid">
					<div ng-repeat="(index,order) in roomorders | filter: { roomno: filter.roomno } | orderBy: '-creation_date'">

						<div class="project">

							<div class="row bg-white has-shadow">
									
								<div class="left-col col-sm-4">
									<div class="project-title">
									  <div class="item_details list-font" style="padding-left:15px;">
										<div><strong>Room No:</strong> {{order.roomno}} </div>
										<div><strong>Order type:</strong> {{order.type}}</div>
										<div ng-if="order.type=='ROOM_SERVICE'"><strong>Message:</strong> {{order.details[0]}}</div>
									  </div>
									</div>
								</div>
								<div class="left-col col-sm-4">
									<div class="project-date">
										<div class="item_details list-font">
											<div ng-if="order.creation_date"><strong>Requested Date:</strong> {{order.creation_date |  date:'MMM d, y h:mm:ss a'}} </div>
											<div ng-if="order.acknowledged_date"><strong>Responded Date:</strong> {{order.acknowledged_date |  date:'MMM d, y h:mm:ss a'}}</div>
											<div ng-if="order.cancel_date"><strong>Cancelled Date:</strong> {{order.cancel_date |  date:'MMM d, y h:mm:ss a'}}</div>
											<div ng-if="order.cust_ack_date"><strong>Completed Date:</strong> {{order.cust_ack_date |  date:'MMM d, y h:mm:ss a'}}</div>
											
										</div>
										
									</div>
								</div>
									
								<div class="col-sm-3">
								
								</div>
						
								<div ng-if="order.type!='ROOM_SERVICE'" class="col-lg-1" style="padding-top:10px;" ng-click="setShowOrder(order)">
									<i style="float:right;" class="fa fa-caret-down fa-lg" ></i>
								</div>
								<div ng-if="order.type =='FOOD_ORDER'&& showOrder==order._id" class="col-sm-12">
									<hr>
									 <table class="table table-striped table-bordered">
										  <tr ng-repeat="detail in order.details">
											<td><strong>Type: </strong>{{detail.food_item.type }}</td>
											<td><strong>Name: </strong>{{detail.food_item.name }}</td>
											<td><strong>Quantity: </strong>{{detail.quantity }}</td>
											<td><strong>Price: </strong>Rs {{detail.price }}/-</td>
										  </tr>
									 </table>
								</div>
							</div>	
						</div>
					</div>
				</div>
				
			</div>
			
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Bill Modal-->
	<div class="card-body text-center modalclass">
	  <div id="myroomBillModal" tabindex="-1" role="dialog" aria-labelledby="examplebillModalLabel" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog" style="max-width:60%">
		  <div class="modal-content">
			<div class="modal-header">
			  <label class="form-header-text">Total Bill Details</label>
			  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="project">
						<div class="row bg-white has-shadow">
							<div ng-if="roomfooditems.length > 0" class="col-sm-12">
								<table class="table table-striped table-bordered">
									  <tr ng-repeat="detail in roomfooditems">
										<td><strong>Type: </strong>{{detail.food_item.type }}</td>
										<td><strong>Name: </strong>{{detail.food_item.name }}</td>
										<td><strong>Quantity: </strong>{{detail.quantity }}</td>
										<td ng-init="getTotal(detail.price)"><strong>Price: </strong>Rs {{detail.price }}/- </td>
									  </tr>
								 </table>
								 <hr>
								 <div style="float:right;">
									<strong>Total: </strong>Rs {{totalPrice}}/-
								</div>
							</div>
							<div ng-if="roomfooditems.length == 0" class="alert alert-info">
								<strong>No food items ordered</strong>
							</div>
							
						</div>	
					</div>
				</div>
				 <div ng-if="roomfooditems.length > 0" class="modal-footer">
				 
					  <button type="button" data-dismiss="modal" class="btn btn-secondary"><i class="fa fa-close"> Close</i></button>
					  <button type="button" class="btn btn-primary" ng-click=""><i class="fa fa-print"> Print</i></button>
					  <button type="button" class="btn btn-success" ng-click=""><i class="fa fa-check"> Pay & Checkout</i></button>
			  
				</div>
			</div>
			
		  </div>
		</div>
	  </div>
	</div>
	
</div>