<!-- Dashboard Counts Section-->
<link rel="stylesheet" href="assets/css/room.css" id="theme-stylesheet">
<div ng-controller="roomController">

	<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom" style="float: left;">{{view.title}}</h2>
			  <button type="button" ng-click="refresh()" style="float: right;" class=="btn btn-link"><i class="fa fa-refresh"></i></button>
			  <div style="clear:both;"/>
			</div>
	</header>
	<div class="tables form-addstaff-button"> 
        <div class="container-fluid">
            <div class="row">
				<div class="col-lg-3">  
					<button type="button" class="btn btn-warning btn-md" data-target="#addroom" aria-expanded="false" data-toggle="collapse"><i class="fa fa-plus"></i> Add Room</button>
				</div>
			</div>
		</div>
	</div>
  
   <div class="tables collapse" id="addroom"> 
        <div class="container-fluid">
            <div class="row">
			   <div class="col-lg-12">                           
                  <div class="card">
					<div class="card-close">
                      <div class="dropdown">
						<small class="response-text">{{addroom_response}}</small>
						<button type="button" class="btn btn-success" ng-click="addRoom(room)"><i class="fa fa-check"></i> Submit</button>
						<button type="button" data-toggle="collapse" data-target="#addroom" class="btn btn-link btn-danger"><i class="fa fa-close"></i></button>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <label class="form-header-text">Please fill the details</label>
                    </div>
                    <div class="card-body" ng-click="clearResponse()">
                      <form class="form-inline">
                        <div class="form-group col-lg-3">
                          <label for="inlineFormInput" class="sr-only">Room ID</label>
                          <input id="inlineFormInput" type="text" placeholder="Room ID" class="mx-sm-6 form-control" ng-model="room.id">
                        </div>
                       <div class="form-group col-lg-3">
                          <label for="inlineFormInput" class="sr-only">Room Type</label>
                          <input id="inlineFormInput" type="text" placeholder="Room Type" autocomplete="on" style="text-transform:uppercase" class="mx-sm-6 form-control" ng-model="room.type">
                        </div>
						<div class="form-group col-lg-3">
                           <label for="inlineFormInput" class="sr-only">Class</label>
							<select class="mx-sm-6 form-control select-class" id="placetype" ng-model="room.class" ng-options="class for class in roomclasses" ng-init=" room.class = roomclasses[0]">
							</select>
                        </div>
						<div class="form-group col-lg-3">
                          <label for="inlineFormInputGroup" class="sr-only">Tablet Id</label>
                          <input id="inlineFormInputGroup" type="text" placeholder="Tablet Id" class="mx-sm-6 form-control form-control" ng-model="room.tabid">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
			  
			</div>  
		</div>	  
	</div>
	
   <div class="tables" ng-if="registeredRoom.length">  
		<div class="container-fluid">
			<div class="row">
			
			 <div class="col-lg-12">
                  <div class="card">
				    <div class="card-header d-flex align-items-center">
                      <h3 class="form-header-text">Registered Rooms</h3>
                    </div>
                    <div class="card-body">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
							<th>Room ID</th>
							<th>Room Type</th>
							<th>Room Class</th>
                            <th>Tablet ID</th>
							<th></th>
							<th>Actions</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="(index,room) in registeredRoom">
                            <th scope="row">{{index + 1}}</th>
							<td>{{room.id}}</td>
                            <td>{{room.type}}</td>
							<td>{{room.class}}</td>
                            <td>{{room.tabid}}</td>
							<td></td>
							<td>
								<button ng-click="editRoom(index)" data-toggle="modal" data-target="#myroomModal" type="button" class="btn-link"><i class="fa fa-pencil"></i></button>
								<button ng-click="deleteRoom(index)" type="button" class="btn-link"><i class="fa fa-trash"></i></button>
							</td>
						   
						   </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
			
			</div>
		</div>
   </div>
   	<!-- Modal-->
	<div class="card-body text-center modalclass">
	  <div id="myroomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <label class="form-header-text">Enter Details</label>
			  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
			  <form ng-click="modal_response = ''">
			  
				<div class="form-group">       
				  <input type="text" placeholder="First Name" class="form-control" ng-model="newroom.id">
				</div> 
				<div class="form-group"> 
				  <input class="form-control" type="text" placeholder="Role" ng-model="newroom.type" style="text-transform:uppercase"/>
				</div>
				<div class="form-group"> 
					<select class="form-control select-class" id="placetype" ng-model="newroom.class" ng-options="class for class in roomclasses" ng-init=" newroom.class = newroom.class">
				  </select>
				</div>
				<div class="form-group">       
				  <input type="text" placeholder="Contact" class="form-control" ng-model="newroom.tabid">
				</div>     
				<div class="form-group"> 				
					<small class="response-text">{{modal_response}}</small>
				</div>
			  </form>
			  <div class="modal-footer">
				  <button type="button" data-dismiss="modal" class="btn btn-secondary"><i class="fa fa-close"> Close</i></button>
				  <button type="button" class="btn btn-success" ng-click="updateRoom(newroom,newRoomIndex)"><i class="fa fa-check"> Save changes</i></button>
			  </div>
			</div>
			
		  </div>
		</div>
	  </div>
	</div>
</div>